body {
    text-align: center;
    text-align: -webkit-center;
    color: #d8d7d4;
    font-size: 1.5rem;
    font-family: "Arial";
    background-color: #28292a;
}

h2 {
    text-align: left;
    font-family: "Arial";
    padding-left: 1em;
}

button {
    margin: 1em;
}

label {
    font-size: 1.5rem;
}

input[type=text] {
    width: 2.5em;
    height: 2.5em;
}

#tanner-picture {
    width: 20vw;
    height: 50vh;
}