body {
    text-align: center;
    text-align: -webkit-center;
    color: #d8d7d4;
    font-size: 1.5rem;
    font-family: "Arial";
    background-color: #28292a;
}

h2 {
    text-align: center;
    font-family: "Arial";
    padding-left: 1em;
}

p {
    text-align: center;
    padding-left: 1em;
}

#tanner-picture {
    width: 20vw;
    height: 50vh;
}

li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 5vh;
}

li a{
    text-decoration: none;
    padding: 1em;
    color: #3e8eec;
}

nav{
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: 5vh;
    display: inline-block;
}